.centered-content {
    text-align: center !important;
}

.site-button {
    margin-top: 40px;
    margin-bottom: 40px;
}

td.centered {
    vertical-align: middle; /* center checkbox vertically */
}

.centered-box {
    text-align: center;
}

.centered-box:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.center-box {
    display: inline-block;
    vertical-align: middle;
}

.overlay {
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.overlay-message {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    z-index: 10;
    margin-top: 55%;
}

.overlay-message > h1 {
    opacity: .7;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #3A3F44;
}

.date-field {
    color: black !important;
}

.group-header {
    background-color: #3A3F44;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52575C), color-stop(70%, #3A3F44), to(#3A3F44));
    background-image: -webkit-linear-gradient(#52575C, #3A3F44 70%, #3A3F44);
    background-image: -moz-linear-gradient(top, #52575C, #3A3F44 70%, #3A3F44);
    background-image: -o-linear-gradient(#52575C, #3A3F44 70%, #3A3F44);
    background-image: linear-gradient(#52575C, #3A3F44 70%, #3A3F44);
    background-repeat: no-repeat;
}

textarea {
    border-radius: 5px;
    border:1px solid #000;
}

textarea:focus {
    border-color:#f00;
}

.textarea-animated {
    vertical-align: top; 
    transition: height 0.2s;
    -webkit-transition: height 0.2s; 
    -moz-transition: height 0.2s; 
}