<h4>Description</h4>
<p>Gemini Checklists is a web-based tool to edit and browse daily checklists for the
observatory operations</p>
<h5>Change Log</h5>
<h6>Version 0.2</h6>
<ul>
<li>Checklists can be closed. A closed checklist cannot be edited anymore</li>
<li>Added Report showing a monthly summary</li>
<li>Elements on the template can be moved up and down</li>
<li>Show About box with change log</li>
<li>Support themes</li>
<li>A nicer multiline input for checklist comments</li>
</ul>
<h6>Version 0.1</h6>
<ul>
<li>Initial experimental release</li>
<li>Support saving checklists and viewing day by day</li>
<li>Template can be edited</li>
</ul>
<h5>Credits</h5>
<p>Built by the Software Group.</p>