<div class="navbar">
  <div class="navbar-inner">
    <a tabindex="-1" class="brand" href="#">Gemini Checklists</a>
      {{outlet toolbar}}
  </div>
</div>
<div class="content-fluid">
  <div class="row-fluid">
    {{outlet main}}
  </div>
</div>