<div class="collapse in">
  <button class="btn btn-small" {{action checkAll target="view"}}><i class="icon-ok-sign"></i>&nbsp;all</button> <button class="btn btn-small"  {{action checkNone target="view"}}><i class="icon-remove-sign"></i>&nbsp;none</button>
  <table class="table table-striped table-hover table-bordered table-condensed">
    <tbody>
      {{#each c in choices}}
        <tr>
          <td>
            <label class="checkbox">
              {{view Ember.Checkbox checkedBinding="c.selected" classNames="checkbox"}}{{c.name}}
            </label>
          </small>
          </td>
        </tr>
      {{/each}}
    <tbody>
  </table>
</div>