<div class="collapse in">
  <table class="table table-striped table-hover table-bordered table-condensed">
    <tbody>
      {{#each c in choices}}
        <tr>
          <td>
            <label class="checkbox">
              {{view Ember.Checkbox checkedBinding="c.selected" classNames="checkbox"}}{{c.name}}
            </label>
          </small>
          </td>
        </tr>
      {{/each}}
    <tbody>
  </table>
</div>