<ul class="nav pull-right">
  <li class="active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Change Site
    <b class="caret"></b>
    </a>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Gemini South</a></li>
        <li><a tabindex="-1" href="#">Gemini North</a></li>
      </ul>
  </li>
</ul>