{{#if isLoaded}}
  <div class="span6 offset3 centered-content">
    <div class="well centered-content">
      <h1>Select site</h1>
      <div class="btn-group btn-group-vertical">
        {{#each site in content}}
          <button class="btn btn-large site-button" {{action siteChecklist site}}>{{site.name}}</button>
        {{/each}}
      </div>
    </div>
  </div>
{{else}}
  {{view Checklists.OverlayView}}
{{/if}}