{{#if isLoaded}}
  <div class="span8 offset2 centered-content">
    <div class="well centered-content">
      <h1>Checklists</h1>
      {{#each r in view.rows}}
        <div class="row-fluid">
          {{#each template in r}}
            <div class="pan4 offset">
              <button class="span5 offset1 btn btn-large template-button centered-content" {{action todayChecklist template}}>{{template.name}}</button>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  {{view Checklists.OverlayView}}
{{/if}}