   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i>
    Theme
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
    <li><a tabindex="-1" href="#" {{action switchToClear target="view"}}><i {{bindAttr class="clearIcon"}}></i>&nbsp;Clear</a></li>
    <li><a tabindex="-1" href="#" {{action switchToDark target="view"}}><i {{bindAttr class="darkIcon"}}></i>&nbsp;Dark</a></li>
  </ul>
